body {
    margin: 0 20px;
    font-family: sans-serif;
}

div.header {
    position: relative;
    border-bottom: 2px solid lightblue;
    height: 120px;
    margin-bottom: 20px;
}

div.header > div.logo {
    float: left;
    margin: 15px 30px;
}

div.header > div.title {
    position: absolute;
    right: 30px;
    text-align: right;
}

div.banner {
  background-image: url("https://cdn.pixabay.com/photo/2017/03/29/12/35/stone-tablet-2185080_1280.jpg");
  height: 350px;
}