body {
  margin: 20px 20px 40px;
  font-family: Helvetica;
}

.header {
  position: relative; /* Allow child elements to be positioned relatively to the parent */
  border-bottom: 2px solid deepskyblue;
  height: 120px;
  margin-bottom: 20px;
}

.header > .logo {
  position: absolute; /* Position the title element absolutely in relation to it's parent */
  left: 30px; /* Absolute position: 30px from the left of the parent */
  margin: 15px 30px;
}

.header > .title {
  position: absolute; /* Position the title element absolutely in relation to it's parent */
  right: 30px; /* Absolute position: 30px from the right of the parent */
  text-align: right;
}

.header > .title > h1 {
  color: darkslategray;
}

.header > .title > h2 {
  color: lightslategray;
}

.banner {
  background-image: url("https://cdn.pixabay.com/photo/2017/03/29/12/35/stone-tablet-2185080_1280.jpg");
  height: 350px;
}

.featured-gallery {
  margin-top: 50px;
}

.featured-gallery > h1 {
  color: darkslategray;
  font-size: 24px;
}

.featured-gallery > .featured-item {
  width: 33%; /* Split the available space between the 3 items */
  display: inline-block; /* Display the items in the same row (i.e. don't break the line after each item) */
  text-align: center;
}

.featured-gallery > .featured-item > .featured-item-img {
  height: 191px;
  overflow: hidden; /* If the image is bigger than the available space, crop the image */
  padding: 20px;
}

.featured-gallery > .featured-item > .featured-item-img > img {
  width: 100%; /* Resize the image to occupy all the width */
}
